
/* footer form  START*/

.footer{
width: 1440px;
height: 301px;
padding-left:  150px;
padding-top: 5px;
background: url(../img/footer.jpg)
}
.nav_bar{
float: left;
}

#navbar a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 28px;
  text-decoration: none;
  display: block;
}

#navbar a:hover  {
line-height: 21px;
text-decoration-line: underline;
color: #CA0000;
}

.contact{
margin-top: 28px;
margin-left: 930px;
}

.contacts {
margin-top: 15px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 120%;
}

.contacts_dom{
margin-top: 20px;
width: 197px;
height: 87px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 145%;
}


.icon :hover  {
color: #CA0000;
}

.prava{
color: rgba(255, 255, 255, 0.5);
font-weight: 300;}

/* footer form  END*/

/* footer form  START*/

.footer{
width: 1440px;
height: 301px;
padding-left:  150px;
padding-top: 5px;
background: url(../img/footer.jpg)
}
.nav_bar{
float: left;
}

#navbar a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 28px;
  text-decoration: none;
  display: block;
}

#navbar a:hover  {
line-height: 21px;
text-decoration-line: underline;
color: #CA0000;
}

.contact{
margin-top: 28px;
margin-left: 930px;
}

.contacts {
margin-top: 15px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 120%;
}

.contacts_dom{
margin-top: 20px;
width: 197px;
height: 87px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 145%;
}


.icon :hover  {
color: #CA0000;
}

.prava{
color: rgba(255, 255, 255, 0.5);
font-weight: 300;

}

/* footer form  END*/