
/* notify form  START*/
.notification_parents{
width: 1440px;
height: 1120px;
background: url(../img/notify.jpg)

}

.sorting_notify{
    margin-top: 15px;
    width: 220px;
    height: 47px;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    background: url(../img/sort3.jpg) no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

option:not(:checked) {
    background-color: white;
    color:#000;
}


 .look_noty{
margin-right: 35px;
float: right;
width: 205px;
height: 46px;
background: #CA0000;
border-radius: 25px;
outline:none;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
border: none;
 cursor: pointer;
color: #FFFFFF;
}

.look_noty:hover,  .look_noty:active {
background: #E48080;
}

.title_block_noty{
float: left;
padding-right: 20px;
font-weight: bold;
font-size: 24px;
line-height: 126%;
}
.title_block_notify{
float: center;
font-weight: normal;
font-size: 24px;
line-height: 126%;
}
/* ТУТ АКТИВНАЯ ПАГИНАЦИЯ*/
.paginpg-active-sub{
width: 48px;
height: 49px;
background-color:  #FFFFFF;
border: none;
border-radius: 50%;
margin-right: 18px;

}
.paginp-sub {
/*margin-left: 18px;*/
margin-top: 13px;
 text-align: center;
color: #000000;
font-weight: bold;
font-size: 20px;
line-height: 23px;
}

.pagination-sub input{
outline: none;
 justify-content: center;

/*padding: 11px 18px 11px 18px;*/
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
text-decoration: none;
border: none;
font-weight: bold;
font-size: 20px;
line-height: 23px;
background: rgba(255, 255, 255, 0.44);
color: #D6D6D6;
width: 48px;
height: 49px;
border-radius: 50%;
}

.pagination-sub input:focus{
background-color:  #FFFFFF;
color: #000001;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.pagination-sub-item {
	margin-right: 18px;
	border-radius: 50%;
  	border: none;

}
.paginpp-sub {
/*margin-left: 18px;*/
width: 48px;
height:49px;
text-align: center;
color: #939393;
background-color: #FFFFFF;
font-weight: bold;
font-size: 20px;
line-height: 23px;

border-radius: 50%;
border: none;
}
.paginpp-sub:hover{
background-color:  #FFFFFF;
color: #000001;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.paginpp-sub:active{
background-color:  #FFFFFF;
color: #000001;
border: none;
box-shadow: none;
}

/* notify form  END*/