/* FORM END */





/* diary parents START*/
/*

.diary_par{
width: 1440px;
height: 1434px;
background: #FDFDFD;
padding-top: 47px;
}

.week_days {
margin-top: 45px;
float: left;
}

.sorting_week{
width: 200px;
height: 47px;
border: none;
outline:none;
color: #000;
cursor: pointer;
display: block;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 42px;

background: url(../img/sort3.jpg) no-repeat right;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.name_stud{
float: right;
margin-top: 38px;
}
*/

/* diary parents TABLE */








/* submission form  START*//*
.sub_form{
padding-top: 36px;
padding-left: 30px;
width: 400px;
height: 720px;
margin: 0 auto;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.title_sub{
width: 314px;
height: 99px;
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #000000;}

.heading{
padding-right: 30px;
margin-top: 24px;
float: left;
font-weight: bold;
font-size: 20px;
line-height: 23px;
color: #000000;
}
.naming{
margin-top: 24px;

float: center;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #000000;
}
.input_sub{
margin-top: 24px;
margin-bottom: 36px;
padding: 15px;
width: 338px;
height: 210px;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 10px;
font-family: Roboto;
font-weight: normal;
font-size: 20px;
line-height: 120%;
color: #000000;
outline:none;
}

.input_sub:focus{
border: 2px solid #CA0000;
}
 submission form  END*/

/* notify form  START*/
.notification_parents{
width: 1440px;
height: 1120px;
background: url(../img/notify.jpg)

}

.sorting_notify{
 cursor: pointer;
display: block;
font-weight: normal;
font-size: 18px;
color: #000;
line-height: 23px;
width: 323px;
height: 50px;
padding-left: 15px;
padding-right: 5px;
box-sizing: border-box;
margin: 0;

border: 2px solid #000;
border-radius: 25px;
background: url(../img/sort1.jpg) no-repeat right;

outline:none;

 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

option:not(:checked) {
    background-color: white;
    color:#000;
}


 .look_noty{
margin-right: 35px;
float: right;
width: 205px;
height: 46px;
background: #CA0000;
border-radius: 25px;
outline:none;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
border: none;
 cursor: pointer;
color: #FFFFFF;
}

.look_noty:hover,  .look_noty:active {
background: #E48080;
}

.title_block_noty{
float: left;
padding-right: 20px;
font-weight: bold;
font-size: 24px;
line-height: 126%;
}
.title_block_notify{
float: center;
font-weight: normal;
font-size: 24px;
line-height: 126%;
}


/* notify form  END*/


/* footer form  START*/
.footer{
width: 1440px;
height: 301px;
padding-left:  150px;
padding-top: 5px;
background: url(../img/footer.jpg)
}
.nav_bar{
float: left;
}
#navbar a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 28px;
  text-decoration: none;
  display: block;
}

#navbar a:hover  {
line-height: 21px;
text-decoration-line: underline;
color: #CA0000;
}

.contact{
margin-top: 28px;
margin-left: 930px;
}

.contacts {
margin-top: 15px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 120%;
}

.contacts_dom{
margin-top: 20px;
width: 197px;
height: 87px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 145%;
}


.icon :hover  {
color: #CA0000;
}

.prava{
color: rgba(255, 255, 255, 0.5);
font-weight: 300;}

/* footer form  END*/


/* footer form  START*/
.footer{
width: 1440px;
height: 301px;
padding-left:  150px;
padding-top: 5px;
background: url(../img/footer.jpg)
}
.nav_bar{
float: left;
}
#navbar a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 28px;
  text-decoration: none;
  display: block;
}

#navbar a:hover  {
line-height: 21px;
text-decoration-line: underline;
color: #CA0000;
}

.contact{
margin-top: 28px;
margin-left: 930px;
}

.contacts {
margin-top: 15px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 120%;
}

.contacts_dom{
margin-top: 20px;
width: 197px;
height: 87px;
font-size: 18px;
color: #FFFFFF;
font-weight: normal;
line-height: 145%;
}


.icon :hover  {
color: #CA0000;
}

.prava{
color: rgba(255, 255, 255, 0.5);
font-weight: 300;}

/* footer form  END*/