<!DOCTYPE html>
<html lang="ru">
{%load static%}
<head>
    <!-- Подгрузка css файлов-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href= "{%static '/css/style_p.css' %}">
    <link rel = "stylesheet" href= "{%static '/css/style_t.css' %}">
     <link rel = "stylesheet" href= "{%static '/css/footer.css' %}">
    <link rel = "stylesheet" href= "{%static '/css/diary.css' %}">
    <link rel = "stylesheet" href= "{%static '/css/news.css' %}">
    <link rel = "stylesheet" href= "{%static '/css/notify.css' %}">
    <link rel = "stylesheet" href= "{%static '/css/journal.css' %}">
    <link rel = "stylesheet" href= "{%static '/css/submission2.css' %}">
    <link rel = "stylesheet" href= "{%static '/css/scheduleteacher.css' %}">
    <title>{{title}}</title>
</head>
<body>
<div id="glavnaya" class="container">
    <!-- Навигация -->
<header class="header_rect"></header>
    <header class="header">
    <div class="wrapper">
        <div class="header_wrapper">
        <div class="header_logo">
            <a href="/" class="header_logo-link">
                <img src="{%static '/img/svg/logo.svg' %}" alt="ННТОС" class="header_logo-pic">
            </a>
        </div>
        <nav class="header_nav">
        <ul class="header-list">
         <li class="header-item">
             <img src="{%static '/img/svg/phone.svg'%}" alt="phone" class="phone" style="margin-right: 15px;" >
             <a href="#!" class="header-link">8 (800) 123-45-67</a>
         </li>
         <li class="header-item">
             <img src="{%static '/img/svg/profil.svg'%}" alt="profil" class="profil" style="margin-right: 15px;" >
             <a href="{%url 'logout'%}" class="header-link">Выйти</a>
             {%if perms.user.add_user%}
                <p class="header-link">{{user}}</p>
             {%endif%}
         </li>
        </ul>
        </nav>

        <div class="line">
            <hr width="1140px";/>
        </div>
        </div>
        <div class="header1_wrapper">
            <nav class="header1_nav">
                <ul class="header-list">
                    {%for link, title_m in menu%}
                    <li class="header1-item">
                         <a href={{link}} class="header-link">{{title_m}}</a>
                    </li>
                    {%endfor%}
                </ul>

            </nav>
<div style="float: right;  ">
<p  class="stud_name"> {{person.get_abrivioture}} <p></div>
        </div>
    </div>
    </header>
    <!-- ФОРМА EMAIL!!!!!!!!!!!!!!! -->
        <div  style ="margin-top: 150px;"id="email_form" class=" rectng">
        <p> <a href = #glavnaya><img src="{%static '/img/close.png'%}" class="x"></a></p>
        <p class="vvod"> Пожалуйста, оставьте <font color="#CA0000;"><br class="red_br">адрес электронной почты </br></font> для привязки личного профиля.
        <br> В случае утери пароля, на адрес придет новый пароль </br> </p>

        <p class="email">E-mail</p>
        <input type="text" class="input_email" placeholder="&nbsp;Введите e-mail">
        <div class="bnt_set">
                            <button class="button_set"> Отправить</button>
                    </div>

        </div>
    <!-- Представление учебного учереждения-->
    <main class="main">
        <section class="mainimg">
            <div class="NNTOS">
        <p>НИЖЕГОРОДСКИЙ ТЕХНИКУМ ТРАНСПОРТНОГО ОБСЛУЖИВАНИЯ И СЕРВИСА</p>
    </div>
    </section>






    <div class="about_us">
    <section class="about">
        <div class="left_block">
            <p class="title_about"> Почему выбирают нас?</p>
                <img src="{%static '/img/students.jpg'%}" alt="st" class="students">
        </div>
        {{user.email}}
        {%if not user.email%}
        <form action="{{person.get_absolute_url}}" method="post">
            {%csrf_token%}
            <p class="abz">Введите email для возможности восстановления пароля</p>
            <input type="text" class="" name="change_email" >
            <input type="submit" class="button">
        </form>
        {%endif%}
        <div  id="dosca"  class="right_block">
            <p class="abz">
            <p class="abz1"> ГБПОУ «Нижегородский техникум транспортного обслуживания и сервиса» —  был основан 23 июля 1941 года.</p>
              <p> <br> </p>
            <p class="abz2">С этого  периода по настоящее время техникум готовит специалистов железнодорожного транспорта.</p>
              <p> <br> </p>
            <p class="abz3">Обучение ведут высококвалифицированные преподаватели, педагоги, мастера производственного обучения. За время своего существования техникум выпустил более 20 000 специалистов, многие из которых занимают руководящие должности  в системе железнодорожного транспорта.</p>
            </p>
        </div>
    </section>
    </div>
        <!--таблица новостей-->
    <div class="b_parent">
        <section class="board_parents">
        <form method="post" action={{person.get_absolute_url}}#dosca>
                    {%csrf_token%}
        <div class="board_wrapper">
            <div class="title_bord">
            <div class="left_bord">
            <p class="board_txt">Доска объявлений</p>
            </div>

            <div class="right_bord">

                <select name="sorting_news" id="sorting" class="sorting" onchange="submit()">
                    {%if order_news == 'last'%}
                        <option value="first">Сначала новые</option>
                        <option value="last" selected>Сначала старые</option>
                    {%else%}
                        <option value="first">Сначала новые</option>
                        <option value="last" >Сначала старые</option>
                    {%endif%}
                </select>

            </div>
            </div>
        </div>

        {%for n in news%}
        <div class="board_wrapper">
            <div  class="block">
                <div class="txt_block">
                    <p class="title_block">{{n.title|truncatechars:45}}</p>
                    <p  style="margin-top: 10px;" class=""> Опубликовано {{n.published_at}}</p>
                </div>
                <div class="btn">
                    <input type='submit' formaction={{n.get_absolute_url}} class="look" value="Посмотреть">
                </div>
            </div>
        </div>
         {%endfor%}


<!--пагинация новостей-->
 <div class="board_wrapper">
            <nav>
                {% if news.has_other_pages%}
                <ul class="pagination">
                    {% if news.has_previous%}
                        <li class="pagination-item">
                                <input  type="submit" value="&lt;" formaction="{{person.get_absolut_url}}?page={{news.previous_page_number}}#dosca">
                        </li>
                        {%if news.number|add:-2 > news.paginator.page_range|first and news.number < 3%}

                            <li class="pagination-item">
                                <input  type="submit" value="{{news.paginator.page_range|first|add:-1}}" formaction="{{person.get_absolut_url}}?page={{news.paginator.page_range|first|add:-1}}#dosca">
                            </li>

                        {%endif%}
                        {%if news.number|add:-1 > news.paginator.page_range|first%}

                            <li class="pagination-item">
                                <input  type="submit" value="{{news.paginator.page_range|first}}" formaction="{{person.get_absolut_url}}?page={{news.paginator.page_range|first}}#dosca">
                            </li>

                        {%endif%}
                        {% if news.number > 3%}
                            <li class="paginpg-active">
                                <p class="paginp">...</p>
                            </li>
                        {%endif%}
                    {%else%}
                    <li class="paginpg-active">
                        <p class="paginp">&lt;</p>
                    </li>
                    {%endif%}
                    {%for p in news.paginator.page_range%}
                        {% if news.has_previous%}

                            {%if news.number == p %}
                            <li class="paginpg-active">
                                <p class="paginp">{{p}}</p>
                            </li>
                            {%elif p >= news.number|add:-1 and p <= news.number|add:1 %}
                            <li class="pagination-item">
                                <input  type="submit" value="{{p}}" formaction="{{person.get_absolut_url}}?page={{p}}#dosca">
                            </li>

                            {%endif%}
                        {%else%}
                            {%if news.number == p %}
                            <li class="paginpg-active">
                                <p class="paginp">{{p}}</p>
                            </li>
                            {%elif p >= news.number|add:-1 and p <= news.number|add:1 %}
                            <li class="pagination-item">
                                <input  type="submit" value="{{p}}" formaction="{{person.get_absolut_url}}?page={{p}}#dosca">
                            </li>
                            {%endif%}
                        {%endif%}
                    {%endfor%}

                      {% if news.has_next%}
                            {%if news.number|add:3 < news.paginator.page_range|last%}
                            <li class="paginpg-active">
                                 <p class="paginp">...</p>
                            </li>
                            {%elif news.number|add:3 == news.paginator.page_range|last%}
                            <li class="pagination-item">
                                <input  type="submit" value="{{news.paginator.page_range|last|add:-1}}" formaction="{{person.get_absolut_url}}?page={{news.paginator.page_range|last|add:-1}}#dosca">
                            </li>
                            {%endif%}
                            {%if news.number|add:2 < news.paginator.page_range|last%}

                            <li class="pagination-item">
                                <input  type="submit" value="{{news.paginator.page_range|last}}" formaction="{{person.get_absolut_url}}?page={{news.paginator.page_range|last}}#dosca">
                            </li>
                            {%elif news.number|add:1 < news.paginator.page_range|last%}
                            <li class="pagination-item">
                                <input  type="submit" value="{{news.paginator.page_range|last}}" formaction="{{person.get_absolut_url}}?page={{news.paginator.page_range|last}}#dosca">
                            </li>
                            {%endif%}
                            <li class="pagination-item">
                                <input  type="submit" value="&gt;" formaction="{{person.get_absolut_url}}?page={{news.next_page_number}}#dosca">
                            </li>
                      {%else%}
                            <li class="paginpg-active">
                                <p class="paginp">&gt;</p>
                            </li>
                      {%endif%}
                {%endif%}
	            </ul>
            </nav>


        </div>
        </form>
        </section>
    </div>
        {%block body%}
        {%endblock%}
        </main>


<footer>
<section class="footer">

    <div class="nav_bar">
        <ul id="navbar">
            {% for link, title_f in menu%}
                <li><a href={{link}} >{{title_f}}</a></li>
            {%endfor%}
        </ul>

    </div>

        <div class="contact">

            <p class="contacts"> Контакты </p>
            <p class="contacts_dom"> г. Нижний Новгород
                Ул. Народная дом 78 +7 (495)-123-55-67</p>
            <p class="contacts"> Мы в соцсетях </p>
         <p style="margin-top:15px;" class="icon">

             <a href="#!"><img src="{%static 'img/svg/VK.svg'%}"  alt="VK"></a>&nbsp;&nbsp;
             <a href="#!"><img src="{%static 'img/svg/inst.svg'%}"  alt="inst"></a>&nbsp;&nbsp;
             <a href="#!"><img src="{%static 'img/svg/twitter.svg' %}"  alt="twitter"></a>

         </p>


            </div>

        <p class="prava">
            ННТОС-2021 - Все права защищены
        </p>
</section>
</footer>
</div>
</body>
</html>