

<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel = "stylesheet" href="{%static '/css/style.css' %}">
    <title>Form</title>
</head>
<body>

<div class="containerr">
    <div class="rectangle">
        <form action={{username}} method="post">
        <p class="login"> ВХОД </p>
        <p class="nntos">Нижегородский техникум транспортного обслуживания и сервиса</p>
        <p class="log_pas">
            <label for="username" class="log">Логин</label>
        <input id="username" type="text" class="input" placeholder="&nbsp;Введите логин">
        <label for="password" class="pas">Пароль</label>
        <input id="password" type="password" class="input" placeholder="&nbsp;Введите пароль">
        </p>
<div class="bnt">
        <input class="button" type="submit" value="Войти">
</div>
        </form>
        <div class="teh">


        <p > <a href="#!" class="tehh"> Тех.поддержка</a> </p>
            </div>



    </div>
    <div class="rightimg">

              <img src="../static/img/train.jpg" alt="train" class="train_jpg">
        </div>

</div>
</body>
</html>