<!DOCTYPE html>
<html lang="ru">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href= "{%static '/css/style_t.css' %}">
    <title>платформа ННТОС</title>

</head>
<body>
<div class="container">
<header class="header_rect"></header>



<header class="header">

    <div class="wrapper">

        <div class="header_wrapper">
        <div class="header_logo">
            <a href="/" class="header_logo-link">
                <img src="{%static '/img/svg/logo.svg'%}" alt="ННТОС" class="header_logo-pic">
            </a>
        </div>



        <nav class="header_nav">

        <ul class="header-list">

     <li class="header-item">
           <img src="{%static '/img/svg/phone.svg'%}" alt="phone" class="phone" style="margin-right: 15px;" >

        <a href="#!" class="header-link">8 (800) 123-45-67</a>
    </li>
        <li class="header-item">
             <img src="{%static '/img/svg/profil.svg' %}" alt="profil" class="profil" style="margin-right: 15px;" >
        <a href="#!" class="header-link">Выйти</a>

        </li>


            </ul>

            </nav>

<div class="line">
    <hr width="1140px";/>

</div>



        </div>

        <div class="header1_wrapper">
            <nav class="header1_nav">
                <ul class="header-list">
                    <li class="header1-item">
                         <a href="#!" class="header-link">Главная</a>
                    </li>

                     <li class="header1-item">
                         <a href="#!" class="header-link">Доска объявлений</a>
                    </li>

                     <li class="header1-item">
                         <a href="#!" class="header-link">Раписание</a>
                    </li>

                     <li class="header1-item">
                         <a href="#!" class="header-link">Электронный журнал</a>
                    </li>
                </ul>

            </nav>
        </div>




    </div>
    </header>



<main class="main">

    <section class="mainimg">
        <div class="NNTOS">
    <p>НИЖЕГОРОДСКИЙ ТЕХНИКУМ ТРАНСПОРТНОГО ОБЛСУЖИВАНИЯ И СЕРВИСА</p>
</div>
</section>



<div class="about_us">
<section class="about">
    <div class="left_block">

    <p class="title_about"> Почему выбирают нас?</p>
        <img src="{%static '/img/students.jpg'%}" alt="st" class="students">

</div>

    <div class="right_block">
        <p class="abz">

        <p class="abz1"> ГБПОУ «Нижегородский техникум транспортного обслуживания и сервиса» —  был основан 23 июля 1941 года.</p>
          <p> <br> </p>
        <p class="abz2">С этого  периода по настоящее время техникум готовит специалистов железнодорожного транспорта.</p>
          <p> <br> </p>
        <p class="abz3">Обучение ведут высококвалифицированные преподаватели, педагоги, мастера производственного обучения. За время своего существования техникум выпустил более 20 000 специалистов, многие из которых занимают руководящие должности  в системе железнодорожного транспорта.</p>
        </p>
    </div>

</section>

</div>


<div class="b_teach">
    <section class="board_teacher">

<div class="board_wrapper">
    <div class="title_bord">
    <div class="left_bord">
    <p class="board_txt">Доска объявлений</p>
        </div>

    <div class="right_bord">
        <select name="sorting" id="sorting" class="sorting">
              <option value="All">Все</option>
                    <option value="first">Сначала первые</option>
                    <option value="last">Сначала последние</option>
                </select>


        </select>

    </div>
        </div>
</div>


        <div class="board_wrapper">
            <div  class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС1</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>



         <div class="board_wrapper">
            <div class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС2</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>

          <div class="board_wrapper">
            <div class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС3</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>

          <div class="board_wrapper">
            <div class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС4</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>

        <div class="board_wrapper">
           <nav>
	<ul class="pagination">
		<li class="pagination-item">
			<a href="#!">←</a>
		</li>
		<li class="pagination-item pg-active">
			<a href="#!">1</a>
		</li>
		<li class="pagination-item">
			<a href="#!">2</a>
		</li>
		<li class="pagination-item">
			<a href="#!">3</a>
		</li>
		<li class="pagination-item">
			<a href="#!">4</a>
		</li>
		<li class="pagination-item">
			<a href="#!">→</a>
		</li>
	</ul>
</nav>
     </div>
        </section>
    </div>



    <div class="schedule_teacher">
         <section class="schedule_teach">
<div class="board_wrapper">

    <p style="margin-top:55px;" class="title_about">Расписание</p>

<div class="wrapper_schedule">
 <div class="days">
     <nav>

         <ul class="days_of_week">
		<li class="days-item">
			<a href="#!">ПН</a>
		</li>

		<li class="days-item">
			<a href="#!">ВТ</a>
		</li>
		<li class="days-item">
			<a href="#!">СР</a>
		</li>
		<li class="days-item">
			<a href="#!">ЧТ</a>
		</li>
		<li class="days-item">
			<a href="#!">ПТ</a>
		</li>
             <li class="days-item">
			<a href="#!">СБ</a>
		</li>
	</ul>

     </nav>

 </div>

    <div class="name_teacher">
         <p  class="title_about">Иванова С.И.</p>
    </div>
    </div>


        <div class="wrapper_schedule">

    <div style="margin-top:247px;" class="block_sched">
    <div class="num">
    <p class="number">1</p>
    </div>

    </div>


            <div class="block_sched">
    <div class="num">
    <p class="number">2</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>


            <div class="block_sched">
    <div class="num">
    <p class="number">3</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>

                   <div class="block_sched">
    <div class="num">
    <p class="number">4</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>

                   <div class="block_sched">
    <div class="num">
    <p class="number">5</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>

            <div class="block_sched">
    <div class="num">
    <p class="number">6</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>


</div>
 </div>
         </section>

    </div>



</main>


<footer>
<section class="footer">

    <div class="nav_bar">
        <ul id="navbar">
      <li><a href="#">Главная</a></li>
      <li><a href="#">Доска объявлений</a></li>
      <li><a href="#">Расписание</a></li>
      <li><a href="#">Электронный журнал</a></li>
    </ul>

    </div>

        <div class="contact">

            <p class="contacts"> Контакты </p>
            <p class="contacts_dom"> г. Нижний Новгород
                Ул. Народная дом 78 +7 (495)-123-55-67</p>
            <p class="contacts"> Мы в соцсетях </p>
         <p style="margin-top:15px;" class="icon">

             <a href="#!"><img src="{%static 'img/svg/VK.svg'%}"  alt="VK"></a>&nbsp;&nbsp;
             <a href="#!"><img src="{%static 'img/svg/inst.svg'%}"  alt="inst"></a>&nbsp;&nbsp;
             <a href="#!"><img src="{%static 'img/svg/twitter.svg'%}"  alt="twitter"></a>

         </p>


            </div>

        <p class="prava">
            ННТОС-2021 - Все права защищены
        </p>


</section>




</footer>


</div>
</body>
</html>