{% extends 'base_index.html'%}


{%block body%}
<!--Дневник - расписание с оценками на неделю -->
    <div id="dnevnik" >
         <section class="diary_par">
              <div class="board_wrapper">
                  <p class="title_about"> Электронный дневник</p>
                  <div class="week_days">
                        <select name="sorting" id="sorting_week" class="sorting_week">
                          <option value="1">08-13.02.2021</option>
                                <option value="2">15-20.02.2021</option>
                                <option value="3">22-27.02.2021</option>
                        </select>
                  </div>
                  <div class="name_stud">
                       <p class="title_about" > {{student}}</p>
                      <p class="title_about" > {{student.n_group}}</p>
                  </div>
                <table class = "tablle">
                <tr>
                    {%for weekday,schedule_d in schedule%}
                        {%if forloop.counter in chet%}
                            <td> <p class="week"> {{weekday}} </p>
                            <table class="dnevnik">

                            {%for lesson in schedule_d%}
                            <tr> <th> {{forloop.counter}} {{lesson.discipline.discipline|capfirst}} </th>  <td class="mark"> 5 </td>  <td class="atten"> </td>

                            {%endfor%}
                        </table>
                        </td></tr>
                            <tr>
                        {%else%}
                            <td> <p class="week"> {{weekday}} </p>
                            <table class="dnevnik">

                                {%for lesson in schedule_d%}
                                <tr> <th> {{forloop.counter}} {{lesson.discipline.discipline|capfirst}} </th>  <td class="mark"> 5 </td>  <td class="atten"> </td>

                                {%endfor%}
                            </table>
                            </td>
                        {%endif%}
                    {%endfor%}
                </tr>
                </table>
              </div>
         </section>
    </div>


<!--Уведомления для родителей от преподавателя-->

    <div id="uved" class="notify_parents">
         <section class="notification_parents">
            <div class="board_wrapper">
                <div class="title_bord">
                    <div class="left_bord">
                    <p class="board_txt">Уведомления</p>
                    </div>
                    <div class="right_bord">
                        <select name="sorting" id="sorting_notify" class="sorting_notify">
                              <option value="All">Все</option>
                                    <option value="first">Сначала первые</option>
                                    <option value="last">Сначала последние</option>
                                </select>
                    </div>
                </div>
            </div>
             <div class="board_wrapper">
                <div  class="block">
                    <p class="title_block_noty">Преподаватель:</p>
                    <p class="title_block_notify">Иванов М.И.</p>
                    <button class="look_noty">Посмотреть</button>
                    <p style="margin-top:15px;"class="title_block_noty">Предмет:</p>
                    <p style="margin-top:15px;"class="title_block_notify">Физическая культура</p>
                    <p style="margin-top:8px;" class="data"> 20.12.2020</p>
                </div>
                <div  class="block">
                    <p class="title_block_noty">Преподаватель:</p>
                    <p class="title_block_notify">Иванов М.И.</p>
                    <button class="look_noty">Посмотреть</button>
                    <p style="margin-top:15px;"class="title_block_noty">Предмет:</p>
                    <p style="margin-top:15px;"class="title_block_notify">Физическая культура</p>
                    <p style="margin-top:8px;" class="data"> 20.12.2020</p>
                </div>
                <div  class="block">
                    <p class="title_block_noty">Преподаватель:</p>
                    <p class="title_block_notify">Иванов М.И.</p>
                    <button class="look_noty">Посмотреть</button>
                    <p style="margin-top:15px;"class="title_block_noty">Предмет:</p>
                    <p style="margin-top:15px;"class="title_block_notify">Физическая культура</p>
                    <p style="margin-top:8px;" class="data"> 20.12.2020</p>
                </div>
                <div  class="block">
                    <p class="title_block_noty">Преподаватель:</p>
                    <p class="title_block_notify">Иванов М.И.</p>
                    <button class="look_noty">Посмотреть</button>
                    <p style="margin-top:15px;"class="title_block_noty">Предмет:</p>
                    <p style="margin-top:15px;"class="title_block_notify">Физическая культура</p>
                    <p style="margin-top:8px;" class="data"> 20.12.2020</p>
                </div>
            </div>
            <div class="board_wrapper">
               <nav>
                    <ul class="pagination">
                        <li class="pagination-item">
                            <a href="#!">←</a>
                        </li>
                        <li class="pagination-item pg-active">
                            <a href="#!">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">2</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">3</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">4</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">→</a>
                        </li>
                    </ul>
               </nav>
            </div>
         </section>
    </div>

{%endblock%}
