{%extends 'base_index.html'%}

{%load static%}
{%block body%}
    <div id="schedule_teacher" class="schedule_teacher">
         <section class="schedule_teach1">
            <div class="board_wrapper">

                <p style="margin-top:55px;" class="title_about">Расписание</p>

            <div class="wrapper_schedule">
                <!-- Разделение по дням недели-->
            <!-- <div class="days">
                 <nav>

                     <ul class="days_of_week">
                         {% for scr_w, day in weekdays%}
                            <li class="days-item">
                                {% if day == weekday_get%}
                                <p>{{scr_w}}</p>
                                {%else%}
                                <a href="?wd={{day}}#schedule_teacher">{{scr_w}}</a>
                                {%endif%}
                            </li>
                        {%endfor%}
                     </ul>

                 </nav>

             </div>-->

                <div class="name_teacher1">
                     <p  class="title_about">{{person.lastname}} {{person.firstname|first}}. {{person.patronymic|first}}.</p>
                </div>
                </div>
                <div>
                    <table class = "tablle1">
                        <tr>
                        {%for weekday,schedule_d in schedule%}
                            {%if forloop.counter in chet%}
                                <td> <p class="week1"> {{weekday}} </p>
                                    <table class="dnevnik1">
                                        {%for lesson in schedule_d%}
                                            {%if lesson%}
                                                <tr> <td  class="sub1"> <p class="subb1">{{forloop.counter}} {{lesson.discipline.discipline|capfirst|truncatechars:30}}</p> <p class="group1"> Гр.
                                                    {{lesson.n_group}} каб. {{lesson.class_room}} </p></td>  <td class="time1">
                                                    {{lesson.lesson.time_start}} </td>
                                            {%else%}
                                                <tr> <td  class="sub1"> <p class="subb1">{{forloop.counter}} {{lesson.discipline.discipline|capfirst|truncatechars:30}}</p> <p class="group1">
                                                     </p></td>  <td class="time1">
                                                    {{lesson.lesson.time_start}} </td>
                                            {%endif%}
                                        {%endfor%}
                                        </tr>
                                    </table>
                                </td>
                        </tr>
                        <tr>
                            {%else%}
                                <td> <p class="week1"> {{weekday}} </p>
                                    <table class="dnevnik1">
                                        {%for lesson in schedule_d%}
                                            {%if lesson%}
                                            <tr> <td class="sub1"> <p class="subb1">{{forloop.counter}} {{lesson.discipline.discipline|capfirst|truncatechars:30}}</p> <p class="group1"> Гр.
                                                {{lesson.n_group}} каб. {{lesson.class_room}} </p></td>  <td class="time1">
                                                {{lesson.lesson.time_start}} </td>
                                            {%else%}
                                                <tr> <td  class="sub1"> <p class="subb1">{{forloop.counter}} {{lesson.discipline.discipline|capfirst|truncatechars:30}}</p> <p class="group1">
                                                </p></td>  <td class="time1">
                                                {{lesson.lesson.time_start}} </td>
                                            {%endif%}
                                        {%endfor%}
                                        </tr>
                                    </table>
                                </td>
                            {%endif%}
                        {%endfor%}
                        </tr>
                    </table>
                </div>
<!-- Отображение крупных объектов расписания и разделение по дням недели-->
                    <!--<div class="wrapper_schedule">

                        <div style="margin-top:247px;" class="block_sched">
                        {%for lesson in schedule%}
                        <div class="block_sched">
                            <div class="num">
                                <p class="number">{{forloop.counter}}</p>
                            </div>
                            <div class="subject">
                                {%if lesson%}
                                    <p class="sub"> {{lesson.discipline.discipline|capfirst}}</p>
                                    <p class="name_gr">Гр. {{lesson.n_group}} каб. {{lesson.class_room}}</p>
                                {%endif%}
                            </div>
                        </div>
                        {%endfor%}
                        </div>
                    </div>-->
            </div>
         </section>
    </div>

<!-- Журнал-->
       <div id="journal" class="journal">
<form method="post" action="{{person.get_absolut_url}}#journal">
                            {% csrf_token %}
            <div id="submission"  class="sub_form">
  <p><a href="#journal"><img src='{% static "/img/close.png"%}' class="x" ></a></p>
    <p class="title_sub">Оставьте комментарий об успеваемости студента для родителя</p>
    <p class="heading"> Студент</p>
    {%if choose_student != 'не выбран'%}
    <p class="namingg"> {{choose_student.lastname}} {{choose_student.firstname|first}}. {{choose_student.patronymic|first}}. </p>
    {%else%}
    <p class="namingg"> {{choose_student}}</p>
    {%endif%}
                <input type="hidden" name="student" value={{choose_student.pk}} id="id_student">
    <!--{{form_submission.student}}-->

      <p class="heading"> Преподаватель </p>
    <p class="namingg"> {{person.lastname}} {{person.firstname|first}}. {{person.patronymic|first}}. </p>
    <!--{{form_submission.discipline}}--><input type="hidden" name="discipline" value={{choose_teacherdiscipline.pk}} id="id_discipline">

     <p class="heading"> Предмет </p>
    <p class="namingg"> {{choose_discipline}} </p>
    <!--{{form_submission.discipline.errors}}-->
      <p class="heading"> Комментарий </p>

    <!--<textarea class="input_sub" >  </textarea>-->
    {{form_submission.comment}}
    {{form_submission.comment.errors}}
    <div class="bnt">
        <button  style="margin-left: 35px; margin-top: -30px;" class="button" type="submit" formaction="{{person.get_absolut_url}}?student_select={{choose_student.slug}}#submission"> Отправить</button>
    </div>

</div>

         <section class="marks_teacher">
             <div class="board_wrapper">

                 <div class="title_bord">
                    <div class="left_bord">
                        <p class="board_txtt">Электронный журнал</p>
                    </div>

                    <div class="right_bord">

                            <select name="group_select" id="sorting_group" class="sorting_group" onchange="submit()">
                                {%if choose_group == 99999 %}
                                    <option value='99999' hidden selected disabled>Выберите группу</option>
                                    {%endif%}
                                    {% for group in groups%}
                                        {% if choose_group.pk == group.pk%}
                                            <option value={{group.pk}} selected>{{group.number|truncatechars:8}}</option>
                                        {%else%}
                                            <option value={{group.pk}}>{{group.number|truncatechars:8}}</option>
                                        {%endif%}
                                    {%endfor%}
                            </select>

                    </div>
                 </div>
                <table class = "table_marks">
                    <tr>
                        <th>

                                <select name="discipline_select" id="sorting_notify" class="objects" onchange="submit()" >
                                    {%if choose_discipline == 99999 %}
                                    <option value='99999' hidden selected disabled>Выберите предмет</option>
                                    {%endif%}
                                    {% for discipline in disciplines%}
                                        {% if choose_discipline.pk == discipline.pk%}
                                            <option value={{discipline.pk}} selected>{{discipline.name|truncatechars:19}}</option>
                                        {%else%}
                                            <option value={{discipline.pk}}>{{discipline.name|truncatechars:19}}</option>
                                        {%endif%}
                                    {%endfor%}
                                </select>

                        </th>
                        {%for mark in choose_teacherdiscipline.mark_set.all|dictsort:"date"%}
                            {%if mark.discipline == choose_teacherdiscipline%}
                                {%if mark.student == choose_group.student_set.all.first%}
                                    <td class= "data_m"> {{mark.date|date:"d.m"}} </td>
                                {%endif%}
                            {%endif%}
                        {%endfor%}
                            <td class= "data_m"> оценка </td>
                    </tr>
                    {%if choose_group != 99999%}

                    {%for stud in choose_group.student_set.all%}
                    <tr>  <th class="naming" >{{stud.lastname}} {{stud.firstname|first}}. {{stud.patronymic|first}}. <input class="com" type="image" src="{%static '/img/ms.png'%}" formaction="{{person.get_absolut_url}}?student_select={{stud.slug}}#submission"> </th>
                            {%for mark in stud.mark_set.all%}
                                {% if mark.discipline == choose_teacherdiscipline%}
                                    <td class="marks_m">{%if mark.value%}{{mark.value}}{%else%} {%endif%}</td>
                                <!--<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>-->
                                {%endif%}
                            {%endfor%}
                            <td class="data_m">5.0 </td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                    <!--<tr>  <th class="naming" > Белов А.С. <a href= "submission_form.html#submission"> <img class="com" src="{%static '/img/ms.png'%}"  > </a></th>
                             <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="data_m">3.0 </td>
                    </tr>

                    <tr>  <th class="naming" > Александровская А.М. <a href= "submission_form.html#submission"> <img class="com" src="{%static '/img/ms.png'%}"  > </a></th>
                             <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="data_m">3.0 </td>
                    </tr>

                    <tr>  <th class="naming" > Александровская А.М. <a href= "submission_form.html#submission/"> <img class="com" src="{%static '/img/ms.png'%}"  > </a></th>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="data_m">3.0 </td>
                    </tr>
                    <tr>  <th class="naming" > Александровская А.М. <a href= "submission_form.html#submission"> <img class="com" src="{%static '/img/ms.png'%}"  > </a></th>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                            <td class="data_m">5.0 </td>
                    </tr>-->
                </table>
                 <!--<div class="btn">
                    <button class="look">Сохранить</button>
                 </div>-->

                  <nav>
                    <ul class="pagination">
                        <li class="pagination-item">
                            <a href="#!">←</a>
                        </li>
                        <li class="pagination-item pg-active">
                            <a href="#!">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">2</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">3</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">4</a>
                        </li>
                        <li class="pagination-item">
                            <a href="#!">→</a>
                        </li>
                    </ul>
                </nav>

             </div>
          </section>
    </form>
       </div>

{%endblock%}