{%extends 'base_index.html'%}
   <!--     <div class="header1_wrapper">
            <nav class="header1_nav">
                <ul class="header-list">
                    <li class="header1-item">
                         <a href="#!" class="header-link">Главная</a>
                    </li>

                     <li class="header1-item">
                         <a href="#!" class="header-link">Доска объявлений</a>
                    </li>

                     <li class="header1-item">
                         <a href="#!" class="header-link">Раписание</a>
                    </li>

                     <li class="header1-item">
                         <a href="#!" class="header-link">Электронный журнал</a>
                    </li>
                </ul>

            </nav>
        </div>




    </div>
    </header>




<div class="b_teach">
    <section class="board_teacher">

<div class="board_wrapper">
    <div class="title_bord">
    <div class="left_bord">
    <p class="board_txt">Доска объявлений</p>
        </div>

    <div class="right_bord">
        <select name="sorting" id="sorting" class="sorting">
              <option value="All">Все</option>
                    <option value="first">Сначала первые</option>
                    <option value="last">Сначала последние</option>
                </select>




    </div>
        </div>
</div>


        <div class="board_wrapper">
            <div  class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС1</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>



         <div class="board_wrapper">
            <div class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС2</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>

          <div class="board_wrapper">
            <div class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС3</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>

          <div class="board_wrapper">
            <div class="block">

 <div class="txt_block">
<p class="title_block">Собрание преподавателей ННТОС4</p>

            <p  class="data"> 20.12.2020</p>
                </div>

                <div class="btn">

                    <button class="look">Посмотреть</button>
                </div>
  </div>

        </div>

        <div class="board_wrapper">
           <nav>
	<ul class="pagination">
		<li class="pagination-item">
			<a href="#!">←</a>
		</li>
		<li class="pagination-item pg-active">
			<a href="#!">1</a>
		</li>
		<li class="pagination-item">
			<a href="#!">2</a>
		</li>
		<li class="pagination-item">
			<a href="#!">3</a>
		</li>
		<li class="pagination-item">
			<a href="#!">4</a>
		</li>
		<li class="pagination-item">
			<a href="#!">→</a>
		</li>
	</ul>
</nav>
     </div>
        </section>
    </div>

-->
{%block body%}
    <div class="schedule_teacher">
         <section class="schedule_teach">
<div class="board_wrapper">

    <p style="margin-top:55px;" class="title_about">Расписание</p>

<div class="wrapper_schedule">
 <div class="days">
     <nav>

         <ul class="days_of_week">
		<li class="days-item">
			<a href="#!">ПН</a>
		</li>

		<li class="days-item">
			<a href="#!">ВТ</a>
		</li>
		<li class="days-item">
			<a href="#!">СР</a>
		</li>
		<li class="days-item">
			<a href="#!">ЧТ</a>
		</li>
		<li class="days-item">
			<a href="#!">ПТ</a>
		</li>
             <li class="days-item">
			<a href="#!">СБ</a>
		</li>
	</ul>

     </nav>

 </div>

    <div class="name_teacher">
         <p  class="title_about">Иванова С.И.</p>
    </div>
    </div>


        <div class="wrapper_schedule">

    <div style="margin-top:247px;" class="block_sched">
    <div class="num">
    <p class="number">1</p>
    </div>

    </div>


            <div class="block_sched">
    <div class="num">
    <p class="number">2</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>


            <div class="block_sched">
    <div class="num">
    <p class="number">3</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>

                   <div class="block_sched">
    <div class="num">
    <p class="number">4</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>

                   <div class="block_sched">
    <div class="num">
    <p class="number">5</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>

            <div class="block_sched">
    <div class="num">
    <p class="number">6</p>
    </div>
    <div class="subject">
    <p class="sub"> Иностранный язык </p>
        <p class="name_gr">Гр. 20-ТЭПС каб. 107</p>
    </div>
    </div>


</div>
 </div>
         </section>

    </div>


       <div class="journal">
         <section class="marks_teacher">
             <div class="board_wrapper">
 <div class="title_bord">
    <div class="left_bord">
    <p class="board_txt">Электронный журнал</p>
        </div>

    <div class="right_bord">


            <select name="sorting" id="sorting_week" class="sorting_week">
                        <option value="1">ТЭПС-1</option>
                        <option value="2">ТЭПС-2</option>
                        <option value="3">ТЭПС-3</option>
                        <option value="4">ТЭПС-4</option>
                    </select>




    </div>
        </div>
                <table class = "table_marks">
<tr>  <th >  <select name="objects" id="sorting_notify" class="objects">
                  <option value="OBJ1">Математика</option>
                        <option value="OBJ2">Информатика</option>
                        <option value="OBJ3">Программирование</option>
                    </select> </th> <td class= "data_m"> 01.04 </td> <td class= "data_m"> 03.04 </td> <td class= "data_m"> 05.04 </td> <td class= "data_m"> 07.04 </td> <td class= "data_m"> 09.04 </td> <td class= "data_m"> 13.04 </td> <td class= "data_m"> 15.04 </td> <td class= "data_m"> 17.04 </td> <td class= "data_m"> оценка </td>  </tr>

<tr>  <th class="naming" > Александровская А.М. <a href= "submission_form.html#submission"> <img class="com" src="./img/ms.png" > </a></th>
													 <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="data_m">5.0 </td>


<tr>  <th class="naming" > Белов А.С. <a href= "submission_form.html#submission"> <img class="com" src="./img/ms.png" > </a></th>
													 <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="data_m">3.0 </td>
</tr>

<tr>  <th class="naming" > Александровская А.М. <a href= "submission_form.html#submission"> <img class="com" src="./img/ms.png" > </a></th>
													 <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="data_m">3.0 </td>
</tr>

<tr>  <th class="naming" > Александровская А.М. <a href= "submission_form.html#submission/"> <img class="com" src="./img/ms.png" > </a></th>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="data_m">3.0 </td>

<tr>  <th class="naming" > Александровская А.М. <a href= "submission_form.html#submission"> <img class="com" src="./img/ms.png" > </a></th>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
                                                    <td class="marks_m"><input class="in_m" type="number" min="2" max="5" value="3"> </td>
													<td class="data_m">5.0 </td>
</tr>
</table>
                 <div class="btn">

                    <button class="look">Сохранить</button>
                </div>

                  <nav>
	<ul class="pagination">
		<li class="pagination-item">
			<a href="#!">←</a>
		</li>
		<li class="pagination-item pg-active">
			<a href="#!">1</a>
		</li>
		<li class="pagination-item">
			<a href="#!">2</a>
		</li>
		<li class="pagination-item">
			<a href="#!">3</a>
		</li>
		<li class="pagination-item">
			<a href="#!">4</a>
		</li>
		<li class="pagination-item">
			<a href="#!">→</a>
		</li>
	</ul>
</nav>


             </div>
          </section>
       </div>

{%endblock%}