{% extends 'base_index.html'%}


{%block body%}
{%load static%}
<!--Дневник - расписание с оценками на неделю -->
    <div id="dnevnik" >
         <section class="diary_par">
              <div class="board_wrapper">
                  <p class="title_about"> Электронный дневник</p>
                  <div class="week_days">
                      <form method="post" action={{person.get_absolut_url}}#dnevnik>
                          {%csrf_token%}
                          <input type="week" name="sorting_week" id="sorting_week" class="sorting_week" onchange="submit()" value={{week_selected}}>
                      </form>
                  </div>
                  <div class="name_stud">
                       <p class="title_about" > {{student}}</p>
                      <p class="title_about" > {{student.n_group}}</p>
                  </div>
                <table class = "tablle">
                <tr>

                    {%for weekday,schedule_d in schedule%}
                        {%if forloop.counter in chet%}
                            <td> <p class="week"> {{weekday}} </p>
                            <table class="dnevnik">

                            {%for lesson in schedule_d%}
                            <tr>
                                <th> {{forloop.counter}} {{lesson.discipline_schedule.first.discipline.discipline|capfirst|truncatechars:25}}
                                {%if lesson%}<p class="teacher-lesson">Пр. {{lesson.discipline_schedule.first.discipline.teacher.get_abrivioture}}, {{lesson.discipline_schedule.second.discipline.teacher.get_abrivioture}} ауд.{{lesson.discipline_schedule.first.class_room}} {{lesson.discipline_schedule.second.class_room}}</p>{%endif%}
                                </th>

                                <td class="mark">{{lesson.mark}} </td>  <td class="atten">{%if lesson.notify%}<button class="like-button tooltip" aria-label="Преподаватель оставил комментарий. Чтобы прочесть его, перейдите в раздел Уведомления"><img src="{%static '/img/att.png' %}"></button>{%endif%} </td>


                            {%endfor%}
                        </table>
                        </td></tr>
                            <tr>
                        {%else%}
                            <td> <p class="week"> {{weekday}} </p>
                            <table class="dnevnik">

                                {%for lesson in schedule_d%}
                                <tr> <th> {{forloop.counter}} {{lesson.discipline_schedule.first.discipline.discipline|capfirst|truncatechars:25}}
                                    {%if lesson%}<p class="teacher-lesson">Пр. {{lesson.discipline_schedule.first.discipline.teacher.get_abrivioture}}, {{lesson.discipline_schedule.second.discipline.teacher.get_abrivioture}} ауд.{{lesson.discipline_schedule.first.class_room}} {{lesson.discipline_schedule.second.class_room}}</p>{%endif%}
                                     </th>
                                    <td class="mark">{{lesson.mark}}  <td class="atten">{%if lesson.notify%}<button class="like-button tooltip" aria-label="Преподаватель оставил комментарий. Чтобы прочесть его, перейдите в раздел Уведомления"><img src="{%static '/img/att.png' %}" ></button>{%endif%} </td>

                                {%endfor%}
                            </table>
                            </td>
                        {%endif%}
                    {%endfor%}
                </tr>
                </table>
              </div>
         </section>
    </div>


<!--Уведомления для родителей от преподавателя-->

    <div id="uved" class="notify_parents">
         <section class="notification_parents">
             <form method="post" action={{person.get_absolut_url}}?page_sub=1#uved>
                    {%csrf_token%}
            <div class="board_wrapper">
                <div class="title_bord">
                    <div class="left_bord">
                    <p class="board_txt">Уведомления</p>
                    </div>
                    <div class="right_bord">
                        <select name="sorting_notify" id="sorting_notify" class="sorting_notify" onchange="submit()">
                             {%if order_sub == 'last'%}
                                <option value="first">Сначала новые</option>
                                <option value="last" selected>Сначала старые</option>
                            {%else%}
                                <option value="first">Сначала новые</option>
                                <option value="last" >Сначала старые</option>
                            {%endif%}
                        </select>
                    </div>
                </div>
            </div>
                 <div class="board_wrapper">
                 {%if not submission%}

                <div  class="block">
                    <p class="title_block_noty">Нет уведомлений</p>
                    <!--<p class="title_block_notify">{{s.discipline.teacher}}</p>
                    <button class="look_noty">Посмотреть</button>
                    <p style="margin-top:8px;" class="title_block_noty">Предмет:</p>
                    <p style="margin-top:8px;" class="title_block_notify">{{s.discipline.discipline}}</p>
                    &lt;!&ndash;<p style="margin-top:8px;" class="title_block_notify">{{s.comment}}</p>&ndash;&gt;
                    <p style="margin-top:8px;" class="">Отправленно {{s.date}}</p>-->
                </div>
                 {%endif%}
                 {%for s in submission%}

                <div  class="block">
                    <p class="title_block_noty">Преподаватель:</p>
                    <p class="title_block_notify">{{s.schedule_lesson.discipline.teacher}}</p>
                    <input type="submit" class="look_noty" value="Посмотреть" formaction="{{s.get_absolute_url}}" formmethod="post">
                    <p style="margin-top:8px;" class="title_block_noty">Предмет:</p>
                    <p style="margin-top:8px;" class="title_block_notify">{{s.schedule_lesson.discipline.discipline}}</p>
                    <!--<p style="margin-top:8px;" class="title_block_notify">{{s.comment}}</p>-->
                    <p style="margin-top:8px;" class="">Отправленно {{s.schedule_lesson.date}}</p>
                </div>
                 {%endfor%}

            </div>
            <div class="board_wrapper">
               <nav>
                    {% if submission.has_other_pages%}
                <ul class="pagination">
                    {% if submission.has_previous%}
                        <li class="pagination-sub-item">
                                <input  type="submit" value="&lt;" formaction="{{person.get_absolute_url}}?page_sub={{submission.previous_page_number}}#uved">
                        </li>
                        {%if submission.number|add:-2 > submission.paginator.page_range|first and submission.number < 3%}

                            <li class="pagination-sub-item">
                                <input  type="submit" value="{{submission.paginator.page_range|first|add:-1}}" formaction="{{person.get_absolut_url}}?page_sub={{submission.paginator.page_range|first|add:-1}}#uved">
                            </li>

                        {%endif%}
                        {%if submission.number|add:-1 > submission.paginator.page_range|first%}

                            <li class="pagination-sub-item">
                                <input  type="submit" value="{{submission.paginator.page_range|first}}" formaction="{{person.get_absolut_url}}?page={{submission.paginator.page_range|first}}#uved">
                            </li>

                        {%endif%}
                        {% if submission.number > 3%}
                            <li class="paginpg-active-sub">
                                <p class="paginp">...</p>
                            </li>
                        {%endif%}
                    {%else%}
                    <li class="paginpg-active-sub">
                        <p class="paginp-sub">&lt;</p>
                    </li>
                    {%endif%}
                    {%for p in submission.paginator.page_range%}
                        {% if submission.has_previous%}

                            {%if submission.number == p %}
                            <li class="paginpg-active-sub">
                                <p class="paginp-sub">{{p}}</p>
                            </li>
                            {%elif p >= submission.number|add:-1 and p <= submission.number|add:1 %}
                            <li class="pagination-sub-item">
                                <input  type="submit" value="{{p}}" formaction="{{person.get_absolut_url}}?page_sub={{p}}#uved">
                            </li>

                            {%endif%}
                        {%else%}
                            {%if submission.number == p %}
                            <li class="paginpg-active-sub">
                                <p class="paginp-sub">{{p}}</p>
                            </li>
                            {%elif p >= submission.number|add:-1 and p <= submission.number|add:1 %}
                            <li class="pagination-sub-item">
                                <input  type="submit" value="{{p}}" formaction="{{person.get_absolut_url}}?page_sub={{p}}#uved">
                            </li>
                            {%endif%}
                        {%endif%}
                    {%endfor%}

                      {% if submission.has_next%}
                            {%if submission.number|add:3 < submission.paginator.page_range|last%}
                            <li class="paginpg-active-sub">
                                 <p class="paginp-sub">...</p>
                            </li>
                            {%elif submission.number|add:3 == submission.paginator.page_range|last%}
                            <li class="pagination-sub-item">
                                <input  type="submit" value="{{submission.paginator.page_range|last|add:-1}}" formaction="{{person.get_absolut_url}}?page_sub={{submission.paginator.page_range|last|add:-1}}#uved">
                            </li>
                            {%endif%}
                            {%if submission.number|add:2 < submission.paginator.page_range|last%}

                            <li class="pagination-sub-item">
                                <input  type="submit" value="{{submission.paginator.page_range|last}}" formaction="{{person.get_absolut_url}}?page_sub={{submission.paginator.page_range|last}}#uved">
                            </li>
                            {%elif submission.number|add:1 < submission.paginator.page_range|last%}
                            <li class="pagination-sub-item">
                                <input  type="submit" value="{{submission.paginator.page_range|last}}" formaction="{{person.get_absolut_url}}?page_sub={{submission.paginator.page_range|last}}#uved">
                            </li>
                            {%endif%}
                            <li class="pagination-sub-item">
                                <input  type="submit" value="&gt;" formaction="{{person.get_absolut_url}}?page_sub={{submission.next_page_number}}#dosca">
                            </li>
                      {%else%}
                            <li class="paginpg-active-sub">
                                <p class="paginp-sub">&gt;</p>
                            </li>
                      {%endif%}
                {%endif%}
	            </ul>
               </nav>
            </div>
                 </form>
         </section>
    </div>

{%endblock%}
