  <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static%}
   
	<link rel = "stylesheet" href= "{%static '/css/marks_form.css' %}">

    <title>Выставление оценок|ННТОС</title>

</head>
<body>
 <section class="marks_form"> 
<div class="board_wrapper">
<p class="marks_txt">Форма для выставления оценок</p>
    <form method="post" action="{%url 'markview'%}?dis={{c_discipline.pk}}&group={{c_group.pk}}">
    {%csrf_token%}
        {{ formset.management_form }}
<div class="rectangle_marks"> 
{% if messages%}
    <ul class="messages">
        {%for message in messages%}
        <li {% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
        {%endfor%}
    </ul>
{%endif%}
<p class="heading_marksform"> Преподаватель </p>

    {%if c_discipline == 'не выбран'%}
<p class="naming_marksform"> не выбран </p>
<p class="heading_marksform"> Предмет </p>
<p class="naming_marksform"> {{c_discipline}}</p>
    {%else %}
<p class="naming_marksform"> {{c_discipline.teacher.lastname}} {{c_discipline.teacher.firstname|first}}. {{c_discipline.teacher.patronymic|first}}. </p>
<p class="heading_marksform"> Предмет </p>
<p class="naming_marksform"> {{c_discipline.discipline}}</p>
    {%endif%}
<p class="heading_marksform"> Группа </p>
<p class="naming_marksform"> {{c_group}}</p>
<p  class="heading_marksform" > Дата </p>
<p class="naming_marksform"> <input value={{data_mark}} name="datamark" style= "margin-top: -5px;" class="example_date" type="date" onchange="submit()" required></p>

<table class="table_marksform">
<tr> <td class="naming_mark_b"> ФИО студента </td>  <td class="ball_b"> Балл </td> </tr>
    
    {%if c_group != 'не выбрана' and c_discipline != 'не выбран'%}
    {%for student in c_group.student_set.all%}
<tr> <td class="naming_mark">{{student.lastname}} {{student.firstname|first}}. {{student.patronymic|first}}. </td>  <td class="ball" > <input name='form-{{forloop.counter0}}-value' type="text" class="marks_num" > </td> </tr>
    <input type="hidden" value="{{student.pk}}" name="form-{{forloop.counter0}}-student">
    <input type="hidden" value="{{c_discipline.pk}}" name="form-{{forloop.counter0}}-discipline">
    <input type="hidden" value="{{data_mark}}" name="form-{{forloop.counter0}}-date">
    {%empty%}
    <tr>  <td class="naming_mark"> Не выбрана группа </td> </tr>
    {%endfor%}
    {%endif%}

<!--
<tr> <td class="naming_mark"> Анисимов В.Н. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Армагедонов А.В. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Буримов П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Буримова П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Бякушев П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Варваров П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Врумпельштильцхен П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Гусева П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Дорофеев П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
-->


 </table>
<div class= "btn_savemark">
<input type="submit" class= " button_savemark" value="Сохранить">

</div>

</div>

    </form>
</div>
 
 </section>


</body>
</html>