  <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static%}
   
	<link rel = "stylesheet" href= "{%static '/css/marks_form.css' %}">

    <title>Выставление оценок|ННТОС</title>
    <script>
        function getDateForm(){
        var elem = document.getElementsByClassName('form-schedule_lesson')
        for( var i=0; i<elem.length; ++i ) {
            var obj = elem[i];
            obj.value = document.getElementById('datemark').value;
        }
        var el = document.getElementById('flag')
        el.value = "False"
        }

    </script>
</head>
<body>
 <section class="marks_form"> 
<div class="board_wrapper">
    <form method="post">
    <div class="btn_back">
        <input type="button" class="button_back" onclick="history.back()" value="Назад">
    </div>
    </form>
<p class="marks_txt">Форма для выставления оценок</p>
    <form method="post" action="{%url 'markview'%}">
    {%csrf_token%}
        {{ formset.management_form }}
<div class="rectangle_marks">

{% if messages%}
        <div class="rectan_mark">
    <ul class="messages">
        {%for message in messages%}
        <li {% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
        {%endfor%}
    </ul></div>
{%endif%}

<p class="heading_marksform"> Преподаватель </p>

    {%if c_discipline == 'не выбран'%}
<p class="naming_marksform"> не выбран </p>
<p class="heading_marksform"> Предмет </p>
<p class="naming_marksform"> {{c_discipline}}</p>
    {%else %}
<p class="naming_marksform"> {{c_discipline.teacher.get_abrivioture}} </p>
<p class="heading_marksform"> Предмет </p>
<p class="naming_marksform"> {{c_discipline.discipline}}</p>
    {%endif%}
<p class="heading_marksform"> Группа </p>
<p class="naming_marksform"> {{c_group}}</p>
<p  class="heading_marksform" > Дата </p>
<p class="naming_marksform">
<!--    <input value={{data_mark}} name="datamark" id="datemark" style= "margin-top: -5px;" class="example_date" type="date" onchange="getDateForm()" required >-->
<select id="datemark" name="datamark" class="sorting_lesson" onchange=getDateForm() >
    {%if data_mark and flag%}
    <option value={{data_mark}} selected disabled hidden>{{data_mark}}</option>
    {%else%}
    <option value="не выбрана" selected disabled hidden>Выберите дату</option>
    {%endif%}
    {%for lesson in schedule%}
       <option value={{lesson.pk}}>{{lesson.date}}</option>
    {%endfor%}
</select>
</p>

<table class="table_marksform">
<tr> <td class="naming_mark_b"> ФИО студента </td>  <td class="ball_b"> Балл </td> </tr>
    
    {%if c_group != 'не выбрана' and c_discipline != 'не выбран'%}
    {%for student,mark in students%}
<tr> <td class="naming_mark">{{student.get_abrivioture}} </td>  <td class="ball" >
    {%ifequal mark None%}
    <input name='form-{{forloop.counter0}}-value' type="text" class="marks_num" > </td> </tr>
    {%else%}
    <input name='form-{{forloop.counter0}}-value' type="text" class="marks_num" value={{mark}} > </td> </tr>
    {%endifequal%}
    <input type="hidden" value="{{student.pk}}" name="form-{{forloop.counter0}}-student">
<!--    <input type="hidden" value="{{c_discipline.pk}}" name="form-{{forloop.counter0}}-discipline">-->
    <input type="hidden"  name="form-{{forloop.counter0}}-schedule_lesson"  class="form-schedule_lesson"{%if data_mark%} value={{data_mark.pk}} {%endif%}>
    <input type="hidden"  name="form-{{forloop.counter0}}-mean_b" id="form-{{forloop.counter0}}-mean_b" class="form-check">
    {%empty%}
    <tr>  <td class="naming_mark"> Не выбрана группа </td> </tr>
    {%endfor%}
    {%endif%}

<!--
<tr> <td class="naming_mark"> Анисимов В.Н. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Армагедонов А.В. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Буримов П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Буримова П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Бякушев П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Варваров П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Врумпельштильцхен П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Гусева П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
<tr> <td class="naming_mark"> Дорофеев П.Г. </td>  <td class="ball" > <input type="text" class="marks_num"> </td> </tr>
-->


 </table>
    <label for="id_include_avg" class="avg_mark">Учесть  для расчета итоговой оценки</label>
    <input type="checkbox" name="include_avg" id="include_avg" class="avg_check">
<div class= "btn_savemark">

    {%if flag == 1%}
        <input type="submit" class= " button_savemark" value="Изменить">
    {%else%}
        <input type="submit" class= " button_savemark" value="Сохранить">
    {%endif%}
    <input type="hidden" value="{{c_discipline.pk}}" name="discipline">
    <input type="hidden" value="{{c_group.pk}}" name="group_select">
    <input type="hidden" value="{{flag}}" name="flags" id="flag">
</div>

</div>

    </form>
</div>

 </section>

<script>
    var main = document.getElementById('include_avg'),
            all = document.getElementsByClassName('form-check');


        main.onclick = function() {  // 3
            for(var i=0; i<all.length; i++) {
                all[i].value = main.checked;
            }
        }
</script>
</body>
</html>