<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel = "stylesheet" href= "{%static '/css/news_detail.css' %}">
    <link rel = "stylesheet" href= "{%static '/dist/css/lightbox.css' %}">
    <title>Новости|{{news.title|capfirst}}</title>
</head>
<body>

    <div id ="open_news" class="open_news">

        <div class="btn_back">
            <input type="button" class="button_back" onclick="history.back()" value="Назад">
        </div>

        <section class="rectangle1">
            <p class="header_n">{{news.title|capfirst}}</p>

            <p class="text_n"> {{news.description|capfirst|linebreaksbr|safe}}</p>
            <div class="container">
                {%if news.picture1 or news.picture2%}
                    {%if news.picture1 %}
                      <a href="{{news.picture1.url}}" data-lightbox="test"> <img  class="left_image"src="{{news.picture1.url}}"></a>
                <a href="{{news.picture2.url}}" data-lightbox="test"><img class="right_image" src="{{news.picture2.url}}"></a>
                    {%else%}
                <a href="{{news.picture2.url}}" data-lightbox="test"> <img class="left_image" src="{{news.picture2.url}}"></a>
                    {%endif%}
                {%endif%}
            </div>
            <script src ="{%static '/dist/js/lightbox-plus-jquery.js' %}"></script>
        </section>
    </div>
</body>
</html>