<!doctype html>
<html lang="ru">
{%load static%}
<head>
    <meta charset="UTF-8">
     <link rel = "stylesheet" href= "{%static '/css/email_steps.css' %}">

    <title>ННТОС|Восстановление пароля</title>
</head>
<body>
<div id="step1" class=" rect_par"> 
<p><a  onclick="history.back()"><img src="{%static 'img/close.png'%}" class="x"></a></p>

<p class="zaglavie"> Восстановление пароля</p>
<p class="forgotten">Забыли пароль? Отправьте ваш адрес электронной почты и мы пришлем вам 
инструкцию для восстановления пароля</p>
<form action method="post">
    {%csrf_token%}
<p class="s_email">E-mail</p>
<input type="text" class="input_email" placeholder="&nbsp;Введите e-mail" name="email" autocomplete="email" required id="id_email" maxlength="254" >
<div class="bnt_step">
    <input type="submit" class="button_step" value="Далее" >
</div>
</form>
</div>
</body>
</html>