<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <link rel = "stylesheet" href= "{%static '/css/email_steps.css' %}">

    <title>ННТОС|Авторизация</title>
</head>
<body>
<div id="step1" class=" rect_par"> 
<p> <img src="close.png" class="x"></p>

<p class="zaglavie"> Восстановление пароля</p>
<p class="forgotten">Забыли пароль? Отправьте ваш адрес электронной почты и мы пришлем вам 
инструкцию для восстановления пароля</p>

<p class="s_email">E-mail</p>
<input type="text" class="input_email" placeholder="&nbsp;Введите e-mail">
<div class="bnt_step">
                    <button class="button_step"> Далее </button>
            </div>
			
</div>
</body>
</html>