<!doctype html>
<html lang="ru">
{%load static%}
<head>
    <meta charset="UTF-8">
      <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
      <link rel = "stylesheet" href= "{%static '/css/email_steps.css' %}">
    <title>ННТОС|Пароль изменён</title>
</head>
<body>
<div id="step4" class="rect_par">


<p class="zaglavie"> Пароль изменён</p>
<p class="forgotten">Ваш пароль был успешно изменён. Вы можете
войти в систему прямо сейчас</p>

<form method="get">
<div class="bnt_step">
                    <button class="button_step" formaction="{%url 'login'%}"> Войти </button>
            </div>
</form>
</div>
</body>
</html>