<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
   
        <link rel = "stylesheet" href= "{%static '/css/email_steps.css' %}">
    <title>ННТОС|Авторизация</title>
</head>
<body>
<div id="step3" class=" rect_par"> 
<p> <img src="close.png" class="x"></p>

<p class="zaglavie"> ВВЕДИТЕ НОВЫЙ ПАРОЛЬ</p>
<p class="forgotten">Пожалуйста, введите новый пароль дважды, чтобы  мы могли убедиться
<br> в правильности написания</p>

<p class="s_email">Новый пароль:</p>
<input type="password" class="input_email" placeholder="&nbsp;Введите пароль">

<p  style="margin-top:20px;"class="s_email">Подтвердить пароль:</p>
<input  type="password" class="input_email" placeholder="&nbsp;Введите пароль">
<div class="bnt_step">
                    <button class="button_step"> Изменить пароль </button>
            </div>
			
</div>
</body>
</html>