<!doctype html>
<html lang="ru">
{%load static%}
<head>
    <meta charset="UTF-8">
         <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
         <link rel = "stylesheet" href= "{%static '/css/email_steps.css' %}">
    <title>ННТОС|Письмо отправленно</title>
</head>
<body>
<div id="step2"class=" rect_par"> 
<p><a  onclick="history.back()"><img src="{%static 'img/close.png'%}" class="x"></a></p>

<p class="zaglavie"> ПИСЬМО ОТПРАВЛЕНО</p>
<p class="forgotten"> Если вы не получили письмо, пожалуйста, убедитесь, что ввели тот адрес,
который привязан к профилю,<br> и проверьте папку со спамом</p>

            </div>
			
</div>
</body>
</html>