<!doctype html>
<html lang="ru">
{%load static%}
<head>
    <meta charset="UTF-8">
   
        <link rel = "stylesheet" href= "{%static '/css/email_steps.css' %}">
    <title>ННТОС|Введите новый пароль</title>
</head>
<body>
<div id="step3" class=" rect_par"> 
<p><a  href="{%url 'login'%}"><img src="{%static 'img/close.png'%}" class="x"></a></p>

<p class="zaglavie"> ВВЕДИТЕ НОВЫЙ ПАРОЛЬ</p>
<p class="forgotten">Пожалуйста, введите новый пароль дважды, чтобы  мы могли убедиться
<br> в правильности написания</p>
<form method="post" action>
    {%csrf_token%}
<p class="s_email">Новый пароль:</p>
<input type="password" class="input_email" placeholder="&nbsp;Введите пароль"
name="new_password1" autocomplete="new_password" required id="id_new_password1">

<p  style="margin-top:20px;"class="s_email">Подтвердить пароль:</p>
<input  type="password" class="input_email" placeholder="&nbsp;Введите пароль"
name="new_password2" autocomplete="new_password" required id="id_new_password2">

<div class="bnt_step">
        <input type="submit" class="button_step" value="Далее" >
</div>
 </form>
</div>
</body>
</html>