<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
   
      <link rel = "stylesheet" href= "{%static '/css/email_steps.css' %}">
    <title>ННТОС|Авторизация</title>
</head>
<body>
<div id="step4"class=" rect_par"> 
<p> <img src="close.png" class="x"></p>

<p class="zaglavie"> Пароль восстановлен</p>
<p class="forgotten">Ваш пароль был восстановлен. Вы можете
войти в систему прямо сейчас</p>


<div class="bnt_step">
                    <button class="button_step"> Войти </button>
            </div>
			
</div>
</body>
</html>